
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('Images/Background.png') no-repeat center center fixed; 
    background-size: cover; 
    line-height: 1.6;
    padding: 40px;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

 .container {
    max-width: 600px; 
    width: 100%;
    margin: 0 auto; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000; 
}
 form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

 input[type="text"],
input[type="number"],
select {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    width: 100%;
}

 button {
    background-color: #28a745;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

 #expense-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

#expense-list li button {
    background-color: white;
    color: #cf170a;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#expense-list li button:hover {
    background-color: #c82333;
}

 .total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.total-container h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

#total {
    font-size: 1.5rem;
    color: blue;
    font-weight: bold;
}

 #reset-btn {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-btn:hover {
    background-color: #e0a800;
}

 @media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 1.8rem;
    }
    button {
        font-size: 14px;
    }
}
footer {
    text-align: center; 
    background-color: black; 
    padding: 10px; 
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: maroon;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);  }
